@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Roboto+Mono:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 98.04%);
  --foreground: hsl(210, 25%, 7.84%);
  --card: hsl(180, 6.67%, 97.06%);
  --card-foreground: hsl(210, 25%, 7.84%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(210, 25%, 7.84%);
  --primary: hsl(207.27, 74.37%, 44.31%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(206, 4.35%, 25.88%);
  --secondary-foreground: hsl(0, 0%, 100%);
  --muted: hsl(240, 1.96%, 90%);
  --muted-foreground: hsl(210, 25%, 7.84%);
  --accent: hsl(122.4, 42.86%, 54.9%);
  --accent-foreground: hsl(0, 0%, 100%);
  --destructive: hsl(356.3, 90.56%, 54.31%);
  --destructive-foreground: hsl(0, 0%, 100%);
  --border: hsl(201.43, 30.43%, 90.98%);
  --input: hsl(200, 23.08%, 97.45%);
  --ring: hsl(202.82, 89.12%, 53.14%);
  --chart-1: hsl(203.89, 88.28%, 53.14%);
  --chart-2: hsl(159.78, 100%, 36.08%);
  --chart-3: hsl(42.03, 92.83%, 56.27%);
  --chart-4: hsl(147.14, 78.5%, 41.96%);
  --chart-5: hsl(341.49, 75.2%, 50.98%);
  --sidebar: hsl(180, 6.67%, 97.06%);
  --sidebar-foreground: hsl(210, 25%, 7.84%);
  --sidebar-primary: hsl(203.89, 88.28%, 53.14%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(211.58, 51.35%, 92.75%);
  --sidebar-accent-foreground: hsl(203.89, 88.28%, 53.14%);
  --sidebar-border: hsl(205, 25%, 90.59%);
  --sidebar-ring: hsl(202.82, 89.12%, 53.14%);
  --font-sans: 'Roboto', sans-serif;
  --font-mono: 'Roboto Mono', monospace;
  --radius: 1.3rem;
}

.dark {
  --background: hsl(0, 0%, 0%);
  --foreground: hsl(200, 6.67%, 91.18%);
  --card: hsl(228, 9.8%, 10%);
  --card-foreground: hsl(0, 0%, 85.1%);
  --popover: hsl(0, 0%, 0%);
  --popover-foreground: hsl(200, 6.67%, 91.18%);
  --primary: hsl(203.77, 87.6%, 52.55%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(195, 15.38%, 94.9%);
  --secondary-foreground: hsl(210, 25%, 7.84%);
  --muted: hsl(0, 0%, 9.41%);
  --muted-foreground: hsl(210, 3.39%, 46.27%);
  --accent: hsl(205.71, 70%, 7.84%);
  --accent-foreground: hsl(203.77, 87.6%, 52.55%);
  --destructive: hsl(356.3, 90.56%, 54.31%);
  --destructive-foreground: hsl(0, 0%, 100%);
  --border: hsl(210, 5.26%, 14.9%);
  --input: hsl(207.69, 27.66%, 18.43%);
  --ring: hsl(202.82, 89.12%, 53.14%);
  --sidebar: hsl(228, 9.8%, 10%);
  --sidebar-foreground: hsl(0, 0%, 85.1%);
  --sidebar-primary: hsl(202.82, 89.12%, 53.14%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(205.71, 70%, 7.84%);
  --sidebar-accent-foreground: hsl(203.77, 87.6%, 52.55%);
  --sidebar-border: hsl(205.71, 15.79%, 26.08%);
  --sidebar-ring: hsl(202.82, 89.12%, 53.14%);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
  
  .animate-pulse-slow {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}
